---
import { Image } from 'astro:assets'
import Container from './Container.astro'
import CurvyLines from './illustrations/CurvyLines.astro'
import Underline from '@components/illustrations/Underline.astro'
import heroImage from '@images/about/abouthero.webp'
import bgGradient from '@images/about-hero-gradient.svg'
import vision from '@images/about/vision.jpg'
import mission from '@images/about/mission.png'
import pruthvi from '@images/about/pruthvi.jpg'
import shubh from '@images/about/shubh.png'
import dhrumil from '@images/about/dhrumil.png'
import '@fontsource/mr-dafoe'
---

<section class="relative bg-slate-50/50">
  <Image
    src={bgGradient}
    alt=""
    class="absolute inset-0 h-full w-full object-cover object-left lg:w-2/3"
  />

  <Container class="relative py-16 sm:py-24 lg:py-32">
    <div
      class="mx-auto max-w-3xl px-4 sm:px-6 lg:mx-0 lg:w-2/3 lg:max-w-none lg:px-8 lg:pr-16"
    >
      <h1
        class="font-display text-5xl font-semibold text-slate-900 sm:text-6xl"
      >
        <span class="relative whitespace-nowrap">
          <Underline />
          <span class="relative">Next Gen of Engineers</span>
        </span>{' '}
         <p class="font-display text-3xl font-semibold text-slate-900 sm:text-2xl">creating the best for this era of digital solutions</p>
      </h1>
      <p class="mt-8 text-lg leading-8 text-slate-700">
        A passionate team of college friends turned entrepreneurs, we are tech
        geeks who love businesses and living on the edge. At Appcrafters, we
        prioritize innovation, customization, and quality above all. We
        transform world-class tech ideas into reality, delivering cutting-edge
        digital solutions that drive our clients toward unprecedented success.
      </p>
      <p class="mt-6 text-lg leading-8 text-slate-700">
        Innovation is our core. We relentlessly push the boundaries of
        technology to deliver customized, high-quality solutions that empower
        our clients to achieve exceptional success.
      </p>
      <p class="mt-16 font-cursive text-3xl text-slate-700">Appcrafters</p>
    </div>
  </Container>
  <div
    class="relative h-96 w-full md:h-[600px] lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/3"
  >
    <Image
      src={heroImage}
      alt=""
      class="absolute inset-0 h-full w-full object-cover object-top"
    />
    <CurvyLines />
  </div>
</section>

<section class="mt-14 grid grid-cols-1 lg:grid-cols-2 gap-8 justify-center items-center max-w-full mx-4 lg:mx-auto lg:px-60">
  <div class="mission-text text-center">
    <h2 class="text-2xl font-bold mb-4">Our Vision</h2>
    <p class="text-lg leading-7 text-slate-700">
      Our vision is to be the catalyst for digital transformation, enabling businesses to excel and individuals to realize their full potential. Through cutting-edge technology and exceptional service, we create seamless and impactful digital experiences.
    </p>
  </div>
  <div class="mission-image flex justify-center">
    <Image src={vision} alt="Company Vision" class="rounded-[10%] max-w-[70%] h-auto" />
  </div>
</section>

<section class="grid grid-cols-1 lg:grid-cols-2 gap-8 justify-center items-center max-w-full mx-4 lg:mx-auto lg:px-60">
  <div class="mission-text text-center">
    <h2 class="text-2xl font-bold mb-4">Our Mission</h2>
    <p class="text-lg leading-7 text-slate-700">
      Our mission is to be the go-to partner for businesses seeking excellence through digital transformation. We aim to deliver tailored solutions that fuel growth, optimize processes, and enhance customer satisfaction, ensuring our clients achieve their highest potential.
    </p>
  </div>
  <div class="mission-image flex justify-center">
    <Image src={mission} alt="Company Mission" class="rounded-[10%] max-w-[70%] h-auto" />
  </div>
</section>

<div class="py-16">
  <center><p class="text-4xl mt-14 font-bold text-slate-900">Meet The Team</p></center>
  <div class="grid grid-cols-1 gap-8 mt-14 mx-4 sm:mx-10 lg:mx-20 sm:grid-cols-2 lg:grid-cols-3">
    <div class="flex flex-col items-center justify-center p-6 bg-gradient-to-br from-white to-gray-100 rounded-xl shadow-xl transform transition-transform hover:scale-105">
      <div class="flex items-center justify-center w-24 h-24">
        <Image src={pruthvi} alt="" class="w-20 h-20 rounded-full border-4 border-white shadow-lg" />
      </div>
      <div class="mt-4 text-center">
        <h3 class="text-lg font-semibold text-slate-900">Pruthvi Patel</h3>
        <p class="mt-2 text-base text-slate-700">Australia</p>
        <p class="mt-2 text-base text-slate-700">Founder</p>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center p-6 bg-gradient-to-br from-white to-gray-100 rounded-xl shadow-xl transform transition-transform hover:scale-105">
      <div class="flex items-center justify-center w-24 h-24">
        <Image src={shubh} alt="" class="w-20 h-20 rounded-full border-4 border-white shadow-lg" />
      </div>
      <div class="mt-4 text-center">
        <h3 class="text-lg font-semibold text-slate-900">Shubh Utekar</h3>
        <p class="mt-2 text-base text-slate-700">Canada</p>
        <p class="mt-2 text-base text-slate-700">Co-Founder</p>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center p-6 bg-gradient-to-br from-white to-gray-100 rounded-xl shadow-xl transform transition-transform hover:scale-105">
      <div class="flex items-center justify-center w-24 h-24">
        <Image src={dhrumil} alt="" class="w-20 h-20 rounded-full border-4 border-white shadow-lg" />
      </div>
      <div class="mt-4 text-center">
        <h3 class="text-lg font-semibold text-slate-900">Dhrumil Pandya</h3>
        <p class="mt-2 text-base text-slate-700">India</p>
        <p class="mt-2 text-base text-slate-700">Co-Founder</p>
      </div>
    </div>
  </div>
</div>
